<!-- templates/contact.html -->
{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div id="content-wrap4">

        <section>
            <h2>Contacting SoilRegen</h2>
        </section>

        <section>
            <h3>How to Contact Us:</h3>
            <p>SoilRegen welcomes questions and feedback from its users. To contact us, use the following methods:</p>
        </section>
        
        <section>
            <h3>Email</h3>
            <p>For more information about SoilRegen and how you can get involved, please email us at: <a href="mailto:info@soilRegen.tech">info@soilRegen.tech</a></p>
        </section>
        
        <section>
            <h3>Phone:</h3>
            <p>We can be reached by leaving a message at: <a href="tel:8022742548">(802)274-2548</a></p>
        </section>
        
        <section>
            <h3>Mail:</h3>
            <p>Our mailing address is:</p>
            <p>SoilRegen</p>
            <p>PO Box 123</p>
            <p>Montpelier, VT 05601</p>
        </section>
        
    </div>
    <br><br><br><br>
{% endblock %}