<!-- templates/recipe_form.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% if IsEditMode %}
        Edit Recipe
    {% else %}
        Recipe Detail
    {% endif %}
{% endblock %}

{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'soilRegenApp/css/recipe_form.css' %}">
{% endblock %}

{% block content %}
    <div id="content-wrap3">
        <div class="container mt-4">
            <form id="editRecipeForm" method="post" class="recipe-form">
                {% csrf_token %}
                <div class="row align-items-center"> <!-- Ensure title and buttons are aligned in the middle -->
                    <div class="col-md-8">
                        <h2 id="recipe-form-title">
                            {% if IsEditMode %}Edit Recipe{% else %}Recipe Detail{% endif %}
                        </h2>
                    </div>
                    <div class="col-md-4 text-md-right"> <!-- Use text-md-right to align buttons to the right on medium screens and up -->
                        {% if IsEditMode %}
                            <button id="submitBtn" type="submit" name="submitBtn" class="btn btn-primary">Save</button>
                            <button type="button" name="cancelBtn" class="btn btn-danger" onclick="window.location.href='{% url 'recipe_list' %}?curr_id={{ recipe_id }}'">Cancel</button>
                            <div id="isEditMode" hidden>true</div>
                        {% else %}
                            <button type="button" name="editBtn" class="btn btn-primary" onclick="window.location.href='?mode=edit'">Edit</button>
                            <button type="button" name="recipeListBtn" class="btn btn-success" onclick="window.location.href='{% url 'recipe_list' %}?curr_id={{ recipe_id }}'">Recipe List</button>
                            <div id="isEditMode" hidden>false</div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 recipe-form-fields">
                        <div class="form-group">
                            <label for="{{ form.recipe_name.id_for_label }}">Recipe Name:</label>
                            {{ form.recipe_name }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.recipe_description.id_for_label }}">Description:</label>
                            {{ form.recipe_description }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.recipe_category_id.id_for_label }}">Category:</label>
                            {{ form.recipe_category }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.recipe_type_id.id_for_label }}">Type:</label>
                            {{ form.recipe_type }}
                        </div>
                    </div>
                    <div class="col-md-6 recipe-form-fields">

                        <div class="form-group">
                            <label for="{{ form.practice.id_for_label }}">Practice:</label>
                            {{ form.practice }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.application.id_for_label }}">Application:</label>
                            {{ form.application }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.recipe_rate.id_for_label }} ">Rate:</label>
                            {{ form.recipe_rate }}
                        </div>

                        <div class="form-group" id="recipe-form-unit">
                            <label for="{{ form.unit_id.id_for_label }}">Units:</label>
                            {{ form.unit }} <span style="margin-left: 5px; margin-top: -.5em; white-space: nowrap;">per acre.</span>
                        </div>
                    </div>

                    <div class="col-12 recipe-form-fields">
                        <div class="form-group" id="recipe-form-notes">
                            <label for="{{ form.recipe_notes.id_for_label }}">Notes:</label>
                            {{ form.recipe_notes }}
                        </div>
                    </div>
                </div>

                <br><br>
                <div class="row">
                    <!-- Recipe Step List Column -->
                    <div class="col-md-4" id="recipe-step-list-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                        <h3 class="panel-title" id="recipe-step-title">Recipe Steps</h3>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                {% if IsEditMode %}
                                                    <button class="btn btn-success btn-block" id="btn-new-recipe-step">New Step</button>
                                                {% else %}
                                                    <button class="btn btn-success btn-block" id="btn-new-recipe-step" hidden>New Step</button>
                                                {% endif %}
                                            </div>
                                        </form>
                                </div>
                            </div>
    
                            <div class="panel-body">
                                <div>
                                    {% if recipe_steps %}
                                        <div class="list-group" id="recipeStepList">
                                            {% for recipe_step in recipe_steps %}
                                                <a href="#"
                                                    class="list-group-item list-group-item-action" 
                                                    id="recipe-step-item"
                                                    data-id="{{ recipe_step.recipe_step_id }}"
                                                    data-number="{{ recipe_step.recipe_step_number }}"
                                                    data-name="{{ recipe_step.recipe_step_name }}"
                                                    data-description="{{ recipe_step.recipe_step_description }}"
                                                    data-notes="{{ recipe_step.recipe_step_notes }}"
                                                >
                                                    {{ recipe_step.recipe_step_number }} - {{ recipe_step.recipe_step_name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div>No steps found.</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Recipe Step Detail Column -->
                    <div class="col-md-6 recipe-form-fields" id="recipe-step-item-panel">
                        <form id="recipeStepForm" method="post" action="/recipe_update/step/">
                            {% csrf_token %}
                            <div id="current_step_id" value="0"hidden></div>
                            <h3 id="recipe-step-form-title">
                                {% if IsEditMode %}Edit Recipe Step{% else %}Recipe Step Detail{% endif %}
                            </h3>
                            <div class="form-group">
                                <label for="{{ step_form.recipe_step_name.id_for_label }}">Name:</label>
                                {{ step_form.recipe_step_name }}
                            </div>

                            <div class="form-group">
                                <label for="{{ step_form.recipe_step_number_id.id_for_label }}">Number:</label>
                                {{ step_form.recipe_step_number }}
                            </div>

                            <div class="form-group">
                                <label for="{{ step_form.recipe_step_description.id_for_label }}">Description:</label>
                                {{ step_form.recipe_step_description }}
                            </div>
                            <div class="form-group">
                                <label for="{{ step_form.recipe_step_notes.id_for_label }}">Notes:</label>
                                {{ step_form.recipe_step_notes }}
                            </div>
                            <div id="current-step-id" hidden></div>
                            <div class="form-group" id="recipe-detail-btn-box">
                                <button type="button" class="btn btn-success" id="btn-previous-step"><-Previous</button>
                                <button type="button" class="btn btn-success" id="btn-next-step">Next-></button>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br><br><br><br>

    <script type="text/javascript">
        // Variable Initialization Script
        // check the URL for a curr_id query parameter
        const urlParams = new URLSearchParams(window.location.search);
        let curr_id = urlParams.get('curr_id');
        // Get the recipe_id from the context variable
        var recipeId = "{{ recipe_id }}";

        // Directly generate the base URLs for editing and deleting without the placeholder
        var editBaseUrl = "{% url 'edit_recipe' 0 %}".replace('/0/', '/');
        var detailBaseUrl = "{% url 'recipe_detail' 0 %}".replace('/0/', '/');
        var deleteBaseUrl = "{% url 'delete_recipe' 0 %}".replace('/0/', '/');

        // Initialize the steps array from the JSON data
        var stepsArr = JSON.parse("{{ steps_json|escapejs }}");
    </script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            // Naviation script to load Next and Previous for steps,
            // and to load the step details when a click event occurs on the lists
            let isEditMode = document.getElementById('isEditMode').innerText.trim();
            let currentStepIndex = 0; // Start at the first step
        
            // Function to move to the first step and load its details
            function moveToFirstStep() {
                if (stepsArr.length > 0) { // Check if there are any steps
                    currentStepIndex = 0; // Set to the first step
                    loadStepDetails(stepsArr[currentStepIndex]); // Load the first step's details
                }
            }

            function moveToNextStep() {
                if (currentStepIndex < stepsArr.length - 1) {
                    if (isEditMode == 'true') {
                        saveStepDetailsToArray(stepsArr[currentStepIndex]);
                    }
                    currentStepIndex++;
                    loadStepDetails(stepsArr[currentStepIndex]);
                }
            }

            function moveToPreviousStep() {
                if (currentStepIndex > 0) {
                    if (isEditMode == 'true') {
                        saveStepDetailsToArray(stepsArr[currentStepIndex]);
                    }
                    currentStepIndex--;
                    loadStepDetails(stepsArr[currentStepIndex]);
                }
            }

            function loadStepDetails(stepArr) {
                // Update the DOM elements with step details
                document.getElementById("id_recipe_step_name").value = stepArr.recipe_step_name;
                document.getElementById("id_recipe_step_number").value = stepArr.recipe_step_number;
                document.getElementById("id_recipe_step_description").value = stepArr.recipe_step_description;
                document.getElementById("id_recipe_step_notes").value = stepArr.recipe_step_notes;
                document.getElementById("current_step_id").value = stepArr.recipe_step_id; // Assuming you have a hidden field for current step ID

            }

            function saveStepDetailsToArray(stepArr) {
                // Get the step details from the form
                const stepName = document.getElementById("id_recipe_step_name").value;
                const stepNumber = document.getElementById("id_recipe_step_number").value;
                const stepDescription = document.getElementById("id_recipe_step_description").value;
                const stepNotes = document.getElementById("id_recipe_step_notes").value;
                const stepId = stepArr.recipe_step_id;

                // Find the step in stepsArr with the matching id
                const stepIndex = stepsArr.findIndex(s => s.recipe_step_id === parseInt(stepId));
                if (stepIndex !== -1) {
                    const stepToUpdate = stepsArr[stepIndex];
                    stepToUpdate.recipe_step_name = stepName;
                    stepToUpdate.recipe_step_number = stepNumber;
                    stepToUpdate.recipe_step_description = stepDescription;
                    stepToUpdate.recipe_step_notes = stepNotes;
                    refreshStepList();
                } else {
                    console.error('Step not found:', stepId);
                }
            }

            function writeStepDetails() {
                fetch(`/soilRegenApp/update_steps/`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(stepsArr)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to update step details');
                    }
                    return response.json();
                })
                .then(data => {
                    refreshStepList();
                })
                .catch(error => {
                    console.error('Error updating step details:', error);
                });
            }

            function refreshStepList() {
                const recipeStepList = document.getElementById('recipeStepList');
                // Clear existing steps to repopulate
                recipeStepList.innerHTML = '';
            
                stepsArr.forEach(step => {
                    const stepElement = document.createElement('a');
                    stepElement.href = '#';
                    stepElement.className = 'list-group-item list-group-item-action';
                    stepElement.dataset.id = step.recipe_step_id;
                    stepElement.dataset.number = step.recipe_step_number;
                    stepElement.dataset.name = step.recipe_step_name;
                    stepElement.dataset.description = step.recipe_step_description;
                    stepElement.dataset.notes = step.recipe_step_notes;
                    stepElement.textContent = `${step.recipe_step_number} - ${step.recipe_step_name}`;
            
                    // Reattach the click event listener to load step details
                    stepElement.addEventListener('click', function(e) {
                        e.preventDefault();
                        const stepId = parseInt(this.dataset.id);
                        const step = stepsArr.find(s => s.recipe_step_id === stepId);
                        if (step) {
                            currentStepIndex = stepsArr.findIndex(s => s.recipe_step_id === stepId);
                            loadStepDetails(step);
                        }
                    });
            
                    recipeStepList.appendChild(stepElement);
                });
            }
            

            // Attach event listener to the form
            document.getElementById('editRecipeForm').addEventListener('submit', function(event) {
                // Prevent the default form submission behavior
                //event.preventDefault();
                console.log('Form submitted');
                writeStepDetails();
    
                // After writing step details, you can manually submit the form
                //this.submit();
            });

            // Attach the navigation functions to buttons
            document.getElementById('btn-next-step').addEventListener('click', moveToNextStep);
            document.getElementById('btn-previous-step').addEventListener('click', moveToPreviousStep);

            // Respond to a click event on a record in the recipe step list, by
            // loading the corresponding recipe step data into the step detail form
            const recipeStepItems = document.querySelectorAll('#recipeStepList .list-group-item');

            recipeStepItems.forEach(item => {
                item.addEventListener('click', function(e) {
                    e.preventDefault();

                    // Save the step to the array before loading the next one
                    if (isEditMode === 'true') {
                        saveStepDetailsToArray(stepsArr[currentStepIndex]);
                    }

                    const stepId = parseInt(this.dataset.id);
                    // Find the step in stepsArr with the matching id
                    const step = stepsArr.find(step => step.recipe_step_id === stepId);
                    if (step) {
                        currentStepIndex = stepsArr.findIndex(step => step.recipe_step_id === stepId);
                        loadStepDetails(step);
                    } else {
                        console.error('Recipe Step ID not found:', stepId);
                    }
                });
            });

        });
    </script>
    
    {% if curr_id %}
    <script>
        // <-Previous & Next-> button code to simulate a click on the list item & load details
        document.addEventListener('DOMContentLoaded', function() {
            var currId = "{{ curr_id }}";
    
            // Handle recipe step items
            var recipeStepItems = document.querySelectorAll('[data-id]');
            recipeStepItems.forEach(function(item) {
                if (item.getAttribute('data-id') === currId) {
                    item.click();  // Simulate click
                }
            });
    
        });
    </script>
    {% endif %}

{% endblock %}
