<!-- recipe-ingredients.html -->

<div class="container">
    <div class="row">
        <!-- Recipe List Column -->
        <div class="col-md-7" id="recipe-list-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                            <h3 class="panel-title" id="recipe-title">Recipes</h3>
                            <form class="form-inline">
                                <div class="form-group">
                                    <!-- Checkbox Column -->
                                    <div class="checkbox">
                                        <label id="starts-with">starts with 
                                            <input type="checkbox" id="searchType" name="searchType">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- Search Box Column -->
                                    <div class="input-group" style="margin-bottom: .75em;">
                                        <input type="text" class="form-control" id="searchBox" placeholder="Enter a search value">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-remove-circle" id="clearSearch"></span>
                                        </span>
                                    </div>
                                </div>
                                <!-- Button Column -->
                                <div class="form-group">
                                    <button class="btn btn-success btn-block btn-new-recipe">New Recipe</button>
                                </div>
                            </form>
                    </div>
                </div>

                <div class="panel-body">
                    <div>
                        {% if recipes %}
                            <div class="list-group" id="recipeList">
                                {% for recipe in recipes %}
                                    <a href="#" 
                                        class="list-group-item list-group-item-action" 
                                        id="recipe-item"
                                        data-id="{{ recipe.recipe_id }}"
                                        data-name="{{ recipe.recipe_name }}" 
                                        data-description="{{ recipe.recipe_description }}"
                                        data-notes="{{ recipe.recipe_notes }}"
                                        data-type="{{ recipe.recipe_type }}"
                                        data-application="{{ recipe.recipe_application }}"
                                        data-practice="{{ recipe.recipe_practice }}"
                                        data-rate="{{ recipe.recipe_rate }}"
                                        data-rate-units="{{ recipe.recipe_rate_units }}"
                                        data-category="{{ recipe.recipe_category }}"
                                        data-is-owner="{{ recipe.is_owner }}"
                                    >
                                    {{ recipe.recipe_name }} - {{ recipe.recipe_description }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5" id="recipe-item-panel" hidden=true>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="recipe-item-title">Recipe Item</h3>
                        </div>
                        <div class="d-flex justify-content-end" id="recipe-btn-box">
                            
                            <button class="btn btn-success btn-detail-recipe"
                                onclick=""
                                style="cursor: pointer;">Detail</button>
                            
                            <button class="btn btn-danger btn-delete-recipe"
                                onclick=""
                                style="cursor: pointer; visibility: hidden;">Delete</button>

                            <button class="btn btn-primary btn-edit-recipe"
                                onclick=""
                                style="cursor: pointer; display: none;">Edit</button>

                        </div>

                        <div class="col-xs-12">
                            <p id="recipe-name" style="margin-top: 10px; margin-bottom: 2px;">Name: <span></span></p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p id="recipe-id">ID: <span></span></p>
                    <p id="recipe-description">Description: <span></span></p>
                    <p id="recipe-type">Type: <span></span></p>
                    <p id="recipe-category">Category: <span></span></p>
                    <p id="recipe-practice">Practice: <span></span></p>
                    <p id="recipe-application">Application: <span></span></p>
                    <p id="recipe-rate" style="display: inline-block;">Rate: <span></span></p>
                    <p id="recipe-rate-units" style="display: inline-block;"><span></span> per acre.</p>
                    <p id="recipe-notes">Notes: <span></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchBox = document.getElementById('searchBox');
        const recipes = document.querySelectorAll('#recipeList .list-group-item');
        const searchType = document.getElementById('searchType');

        function performSearch() {
            const searchQuery = searchBox.value.toLowerCase();
            const startsWith = searchType.checked;

            recipes.forEach(recipe => {
                const recipeName = recipe.getAttribute('data-name').toLowerCase();
                let matchesQuery = startsWith ? recipeName.startsWith(searchQuery) : recipeName.includes(searchQuery);
                recipe.style.display = matchesQuery ? '' : 'none';
            });
        }

        // Listen for keyup events on the search box to filter recipes
        searchBox.addEventListener('keyup', performSearch);

        // Listen for change events on the checkbox to re-filter recipes
        searchType.addEventListener('change', performSearch);

        // Listen for click events on the clear search icon to clear the search box and the filter
        document.getElementById('clearSearch').addEventListener('click', function() {
            searchBox.value = '';
            searchType.checked = false;
            performSearch();
        });
    });
</script>

<script type="text/javascript">
    // Directly generate the base URLs for editing and deleting without the placeholder
    var editBaseUrl = "{% url 'edit_recipe' 0 %}".replace('/0/', '/');
    var detailBaseUrl = "{% url 'recipe_detail' 0 %}".replace('/0/', '/');
    var deleteBaseUrl = "{% url 'delete_recipe' 0 %}".replace('/0/', '/');
</script>

{% verbatim %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const recipeItems = document.querySelectorAll('#recipeList .list-group-item');
        const recipeId = document.getElementById('recipe-id').querySelector('span');
        const recipeName = document.getElementById('recipe-name').querySelector('span');
        const recipeDescription = document.getElementById('recipe-description').querySelector('span');
        const recipePractice = document.getElementById('recipe-practice').querySelector('span');
        const recipeApplication = document.getElementById('recipe-application').querySelector('span');
        const recipeRate = document.getElementById('recipe-rate').querySelector('span');
        const recipeRateUnits = document.getElementById('recipe-rate-units').querySelector('span');
        const recipeType = document.getElementById('recipe-type').querySelector('span');
        const recipeCategory = document.getElementById('recipe-category').querySelector('span');
        const recipeNotes = document.getElementById('recipe-notes').querySelector('span');
        const recipeItemSection = document.getElementById('recipe-item-panel');
        const recipeDeleteBtn = document.querySelector('.btn-delete-recipe');
        const recipeEditBtn = document.querySelector('.btn-edit-recipe');
        const recipeDetailBtn = document.querySelector('.btn-detail-recipe');

        recipeItems.forEach(item => {
            item.addEventListener('click', function(e) {
                e.preventDefault();
                const id = this.getAttribute('data-id');
                const name = this.getAttribute('data-name');
                const description = this.getAttribute('data-description');
                const type = this.getAttribute('data-type');
                const category = this.getAttribute('data-category');
                const practice = this.getAttribute('data-practice');
                const application = this.getAttribute('data-application');
                const rate = this.getAttribute('data-rate');
                const rate_units = this.getAttribute('data-rate-units');
                const notes = this.getAttribute('data-notes');
                const isOwner = this.getAttribute('data-is-owner');

                // Update the recipe item section with the selected recipe's information
                recipeName.textContent = name;
                recipeId.textContent = id;
                recipeDescription.textContent = description;
                recipeType.textContent = type;
                recipeCategory.textContent = category;
                recipePractice.textContent = practice;
                recipeApplication.textContent = application;
                recipeRate.textContent = rate;
                recipeRateUnits.textContent = rate_units;
                recipeNotes.textContent = notes;

                if (isOwner === 'True') {
                    recipeDeleteBtn.style.visibility = 'visible';
                    recipeEditBtn.style.display = 'none';

                    // Dynamically set the onclick attribute for edit and delete buttons
                    recipeEditBtn.onclick = function() { window.location.href = editBaseUrl + id  + '?mode=edit';};
                    recipeDeleteBtn.onclick = function() { window.location.href = deleteBaseUrl + id; };
                } else {
                    recipeDeleteBtn.style.visibility = 'hidden';
                    recipeEditBtn.style.display = 'none';
                }

                recipeDetailBtn.onclick = function() { window.location.href = detailBaseUrl + id  + '?mode=detail';};
                // Show the recipe item panel if it was hidden
                recipeItemSection.hidden = false; // To show it
            });
        });
    });
</script>
{% endverbatim %}

<script>
    // check the URL for a curr_id query parameter
    const urlParams = new URLSearchParams(window.location.search);
    const curr_id = urlParams.get('curr_id');
    console.log("urlParams = ", urlParams, "curr_id = ", curr_id);
</script>

{% if curr_id %}
    <script>
        console.log("Simulate click script loaded!");
        document.addEventListener('DOMContentLoaded', function() {
            // Convert curr_id to string to ensure proper comparison
            console.log("DOMContentLoaded event fired!")
            var currId = "{{ curr_id }}";
            console.log("Query curr_id = ", currId);
            var recipeItems = document.querySelectorAll('[data-id]');
            console.log(recipeItems);
            recipeItems.forEach(function(item) {
                console.log("For each: Query currId = ", curr_id, "RecipeItems(item.id) = ", item.getAttribute('data-id'));
                if (item.getAttribute('data-id') === currId) {
                    console.log("Clicking item: ", item);
                    item.click();  // Simulate click
                }
            });
        });
    </script>
{% endif %}


